@import "/src/styles/utils.module";

.tableContainer {
    @extend .relative;
    @extend .card;
    z-index: 0;
    margin: 12px 0;
}

.emptyState {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem 2rem;
    text-align: center;
    border-radius: 8px;

    p {
        margin: 0;
        color: #24292e;
        font-size: 1.3rem;
        font-weight: 500;
    }

    .subText {
        margin-top: 0.5rem;
        color: #586069;
        font-size: 0.9rem;
        font-weight: normal;
    }
}

.table {
    :global {
        .htCore {
            th {
                background-color: #f6f8fa;
                color: #24292e;
                font-weight: 500;
                border: 1px solid #e1e4e8;
            }

            td {
                border: 1px solid #e1e4e8;
                color: #24292e;
                font-weight: 500;
                padding: 8px;
            }
        }
        
        .ht_master {
            .wtHolder {
                overflow: auto;
            }
        }
    }
} 