@import "/src/styles/utils.module";

.tableContainer {
    @extend .relative;
    @extend .card;
    z-index: 0;
    margin: 24px 0;
}

.table {
    :global {
        .htCore {
            th {
                background-color: #f6f8fa;
                color: #24292e;
                font-weight: 500;
                border: 1px solid #e1e4e8;
            }

            td {
                border: 1px solid #e1e4e8;
                color: #24292e;
                font-weight: 500;
                padding: 8px;
            }
        }
        
        .ht_master {
            .wtHolder {
                overflow: auto;
            }
        }
    }
} 