@import "../../styles/utils.module.scss";

.container {
    padding: 1rem;
    min-height: auto;
    background-color: transparent;

    .selectors {
        display: flex;
        justify-content: flex-end;
        gap: 0.5rem;
        margin-bottom: 0.8rem;

        select, input {
            @extend .formControl;
        }

        input {
            flex: 1;
        }
    }

    .loading {
        @extend .loading;
    }

    .error {
        @extend .error;
    }
} 