@import "../../../styles/utils.module.scss";

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
  text-align: center;
  background: white;
}

.title {
  font-size: 1.5rem;
  color: #24292e;
  margin-bottom: 2rem;
}