@import "../../styles/utils.module";

.header {
    @extend .flexRow;
    @extend .justifyContentSpaceBetween;
    @extend .alignItemsCenter;
    @extend .padding;
    @extend .bgWhite;
    @extend .card;
}

.container {
    @extend .flexRow;
    @extend .justifyContentSpaceBetween;
    @extend .alignItemsCenter;
    width: 100%;
    max-width: 1200px;
    padding: 0 2rem;

    @include mobile {
        padding: 0 1rem;
    }
}

.logo {
    cursor: pointer;
    
    h1 {
        @extend .heading2;
        font-size: 1.5rem;
        font-weight: 600;
        color: #1a1a1a;

        @include mobile {
            margin-right: 1rem;
            font-size: 1rem;
        }
    }
}

.auth {
    @extend .flexRow;
    @extend .alignItemsCenter;
    min-height: 2.5rem;
    min-width: 8rem;
}

.profile {
    @extend .flexRow;
    @extend .alignItemsCenter;
    gap: 1rem;
    cursor: pointer;

    &.active {
        cursor: default;
    }

    .logoutButton {
        margin-left: 1rem;
    }

    @include mobile {
        gap: 0.5rem;
        .logoutButton {
            margin-left: 0;
        }
    }
}

.avatar {
    border-radius: 50%;
    border: 1px solid #e1e4e8;
    object-fit: cover;
    overflow: hidden;
}

.username {
    @extend .text;

    @include mobile {
        display: none;
    }
}

.loginButton {
    @extend .primaryButton;
}

.logoutButton {
    @extend .secondaryButton;
} 