@import "../../styles/utils.module.scss";

.container {
    @extend .container;
}

.main {
    @extend .mainContent;
}

.section {
    @extend .card;
    margin-bottom: 2rem;

    h2 {
        font-size: 1.5rem;
        color: #24292e;
        margin-bottom: 1rem;

        @include mobile {
            font-size: 1rem;
            margin-bottom: 0.5rem;
        }
    }

    .description {
        color: #586069;
        margin-bottom: 1.5rem;
        font-size: 1.1rem;
    }
} 